/* Global browser settings */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* User Styles */
body {
    font-family: sans-serif;
    background-color: beige;
}

i {
    cursor: pointer;
}

.container {
    width: 65%;
    height: 700px;
    margin: 3% auto 0;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(216, 216, 40);
    border-radius: 10px;
    overflow-y: scroll;
}

/* Hide scroll bar for Chrome, Safari, newer versions of Opera */
.container::-webkit-scrollbar { width: 0 !important }

/* Hide scroll bar for Firefox */
.container { overflow: -moz-scrollbars-none; }

.addTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid rgb(216, 216, 40);
    background-color: beige;
    border-radius: 10px;
    cursor: pointer;
}

#tasks {
    display: grid;
    grid-gap: 20px;
}

.task {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    border: 2px solid rgb(216, 216, 40);
    background-color: beige;
    border-radius: 10px;
}

.task .options { 
    justify-self: center;
    display: flex;
    grid-gap: 20px;
}